body {
    background-color: rgb(177, 177, 177);
    margin: 0;
}

#page {
  display: flex;
}

#left {
    background-color: white;
    height: 955px;
    width: 30%;
}

.slidecontainer {
    margin-left: 20px;
}

.slider {
    -webkit-appearance: none;
    height: 15px;
    width: 300px;
    border-radius: 5px;
    background: #d3d3d3;
  }
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0000ff;
    cursor: pointer;
  }

  #btn {
    margin-top: 20px;
    margin-left: 300px;
  }

  table, th, td {
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    width: 400px;
  }